@use "../../../mixins.scss";

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  @extend %text-standard;

  &:last-child {
    margin-bottom: 0;
  }
}

label {
  margin: 5px;
  @extend %text-bold;
}

mat-list-item {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.image-row {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.thumb {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 4px;
}

.file-name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.upload-box {
  @extend %product-container;
  border: 2px dashed #ccc;
  text-align: center;
  cursor: pointer;
  transition:
    border-color 0.2s,
    background-color 0.2s;
  margin: 0;

  p {
    margin: 0;
  }

  .clickable-text {
    color: #3f51b5;
    font-weight: 500;
  }

  &.dragover {
    border-color: #3f51b5;
    background-color: #f0f4ff;
  }
}
