<div class="form-group">
  <div
    class="upload-box"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    [class.dragover]="isDragOver"
    (click)="fileInput.click()"
  >
    <p>
      Drag & drop images here, or
      <span class="clickable-text">click to select</span>
    </p>
    <input
      #fileInput
      type="file"
      multiple
      accept="image/*"
      hidden
      (change)="onSelect($event)"
    />
  </div>
</div>

@if (images.length > 0) {
  <div class="form-group">
    <label>Uploaded images</label>
    <mat-list>
      @for (img of images; track img.name; let i = $index) {
        <mat-list-item>
          <div class="image-row">
            <img [src]="img.url" class="thumb" />
            <div class="file-name">{{ img.name }}</div>
            <button mat-icon-button color="warn" (click)="remove(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      }
    </mat-list>
  </div>
}
