<div class="query-container">
  <div class="query">
    <!-- Material Selection -->
    <app-query-material [(value)]="selectedMaterial" />

    <!-- Shape (Length & Width) -->
    <app-query-shape [(length)]="length" [(width)]="width" />

    <!-- Image Upload -->
    <app-query-images [(images)]="uploadedImages" />

    <!-- Search Button -->
    <div class="form-group align-right">
      <button mat-raised-button color="primary" (click)="onSearch()">
        Search
      </button>
    </div>
  </div>
</div>
