<div class="product-metrics__label">
  <span>Product Scores</span>
  <hr class="product-metrics__divider" />
</div>

@for (sectionName of productSections; track sectionName) { @if
(product.scores.product[sectionName]) {
<div class="product-metrics__section">
  <div class="product-metrics__section-title">
    {{ sectionName | titlecase }}
  </div>
  @for (key of metricKeys(product.scores.product[sectionName]); track key) {
  <div class="product-metrics__row">
    <span class="product-metrics__key">{{ key | titlecase }}</span>
    <div class="product-metrics__bar">
      <div
        class="product-metrics__bar-fill"
        [style.width.%]="100 - product.scores.product[sectionName][key]"
      ></div>
    </div>
    <span class="product-metrics__value">
      {{ truncate(100 - product.scores.product[sectionName][key]) }}%
    </span>
  </div>
  }
</div>
} }

<div class="product-metrics__label">
  <span>Image Scores</span>
  <hr class="product-metrics__divider" />
</div>

@for (sectionName of imageSections; track sectionName) { @if
(product.scores.image[sectionName]) {
<div class="product-metrics__section">
  <div class="product-metrics__section-title">
    {{ sectionName | titlecase }}
  </div>
  @for (key of metricKeys(product.scores.image[sectionName]); track key) {
  <div class="product-metrics__row">
    <span class="product-metrics__key">{{ key | titlecase }}</span>
    <div class="product-metrics__bar">
      <div
        class="product-metrics__bar-fill"
        [style.width.%]="100 - product.scores.image[sectionName][key]"
      ></div>
    </div>
    <span class="product-metrics__value">
      {{ truncate(100 - product.scores.image[sectionName][key]) }}%
    </span>
  </div>
  }
</div>
} }
