.reference-form {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  gap: 16px;
  overflow: hidden;
  padding: 8px;

  button {
    min-height: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 2px;
  }

  .dimensions-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .dimension-field {
      flex: 1 1 150px;
      min-width: 0;

      .dimension-unit {
        padding: 0 10px 0 5px;
      }
    }
  }

  app-search-images + mat-error {
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
    padding-left: 16px;
    line-height: 16px;
  }
}
