<div class="gallery-container">
  <app-product-canvas
    [imageUrl]="selectedUrl()"
    [transform]="selectedTransform()"
    (transformChanged)="updateTransform($event)"
  ></app-product-canvas>

  <div class="gallery-container__thumbnails">
    <div
      class="gallery-container__thumbnail"
      *ngFor="let url of imageUrls(); let i = index"
      [class.gallery-container__thumbnail--selected]="i === selectedIndex()"
      (click)="select(i)"
    >
      <img [src]="url" alt="thumb" />
    </div>
  </div>
</div>
