<div class="canvas-container">
  <canvas #canvas></canvas>

  <div class="canvas-container__toolbar">
    <button
      class="canvas-container__icon-button"
      [class.canvas-container__icon-button--active]="mode === 'translate'"
      (click)="setMode('translate')"
      title="Translate"
    >
      <mat-icon>open_with</mat-icon>
    </button>

    <button
      class="canvas-container__icon-button"
      [class.canvas-container__icon-button--active]="mode === 'rotate'"
      (click)="setMode('rotate')"
      title="Rotate"
    >
      <mat-icon>rotate_right</mat-icon>
    </button>
  </div>

  <div class="canvas-container__toolbar canvas-container__toolbar--right">
    <button
      class="canvas-container__icon-button"
      (click)="resetTransform()"
      title="Reset View"
    >
      <mat-icon>home</mat-icon>
    </button>
  </div>
</div>
