<div class="canvas">
  <canvas
    #canvas
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp()"
    (mouseleave)="onMouseUp()"
    (wheel)="onWheel($event)"
  ></canvas>

  <div class="canvas__toolbar">
    <button
      class="canvas__icon-button"
      [class.canvas__icon-button--active]="mode === 'translate'"
      (click)="setMode('translate')"
      title="Translate"
    >
      <mat-icon>open_with</mat-icon>
    </button>
    <button
      class="canvas__icon-button"
      [class.canvas__icon-button--active]="mode === 'rotate'"
      (click)="setMode('rotate')"
      title="Rotate"
    >
      <mat-icon>rotate_right</mat-icon>
    </button>
  </div>

  <div class="canvas__toolbar canvas__toolbar--right">
    <button
      class="canvas__icon-button"
      (click)="resetView()"
      title="Reset View"
    >
      <mat-icon>home</mat-icon>
    </button>
  </div>
</div>
