<div
  class="search-progress__logo-wrapper"
  [class.search-progress__logo-wrapper--lifted]="loadingMessage() || errorMessage()"
>
  <img src="assets/logo.png" alt="Logo" class="search-progress__logo-image" />
</div>

@if (loadingMessage()) {
<div class="search-progress__progress search-progress__progress--visible">
  <mat-progress-spinner
    class="search-progress__spinner"
    mode="indeterminate"
    diameter="24"
    color="primary"
  />
  <span class="search-progress__message"> {{ loadingMessage() }} </span>
</div>
} @else if (errorMessage()) {
<div
  class="search-progress__progress search-progress__progress--visible search-progress__progress--error"
>
  <span class="search-progress__message"> {{ errorMessage() }} </span>
</div>
}
