@use "../mixins.scss";

.survey-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.survey-question {
  @extend %text-standard;
  strong {
    @extend %text-bold;
  }
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  gap: 8px;
}

.options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend %text-standard; // unify label styling
}

.label-left,
.label-right {
  @extend %text-standard;
  width: 60px;
  text-align: center;
}

input[type="radio"] {
  margin: 0 4px;
}
