<div class="survey-grid">
  @for (question of questionKeys; track question) {
    <div class="survey-question">
      <label>{{ question }}</label>
      <div class="options">
        <span class="label-left">Different</span>
        @for (i of [1, 2, 3, 4, 5]; track i) {
          <label>
            <input
              type="radio"
              [name]="question"
              [value]="i"
              [checked]="responses[question] === i"
              (change)="onSelect(question, i)"
            />
          </label>
        }
        <span class="label-right">Similar</span>
      </div>
    </div>
  }
</div>
