@use "../mixins.scss";

.details-container {
  @extend %product-container;
  max-width: 400px;
}

.field {
  display: flex;
  flex-direction: column;

  strong {
    @extend %text-bold;
    margin-bottom: 4px;
  }

  .value {
    @extend %text-standard;
  }
}

/* Space between all .field entries, but not after the last one */
.details-container > .field:not(:last-child) {
  margin-bottom: 10px;
}
