:host {
  display: flex;
  max-height: 100%;
}

.product {
  &__sidebar {
    width: 300px;
    background: white;
    overflow-y: scroll;

    &--content {
      height: 0;

      app-product-description {
        padding: 20px;
        box-sizing: border-box;
      }
    }
  }

  &__galleries {
    display: flex;
    flex: 1 1 0;
    overflow: hidden;
  }
}
