.product {
  display: flex;
  height: 100%;

  &__sidebar {
    width: 300px;
    padding: 20px 30px 20px 20px;
    margin-right: 10px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    background: #f9f9f9;
    overflow-y: auto;
  }

  &__galleries {
    display: flex;
    flex: 1 1 0;
    overflow: hidden;
  }
}
