%product-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin: auto;
}

%text-standard {
  font-size: 14px;
  font-weight: normal;
}

%text-bold {
  font-size: 14px;
  font-weight: bold;
}
