.filter-container {
  max-width: 420px;
  font-family: sans-serif;
  padding: 20px;

  .filter-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 30px;
    gap: 20px;

    > button {
      flex: 1;
      height: 30px;
      border-radius: 2px;
    }
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 20px 0;
  }

  .filter-section {
    .label-muted {
      font-size: 0.85rem;
      color: #666;
      margin: 0 0 10px;
    }

    .filter-header {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 0.85rem;
      margin-top: 5px;
      align-items: center;

      input.number-input {
        width: 60%;
        text-indent: calc(100% - 25px);
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }

    mat-slider {
      width: 100%;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
  }
}
