@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2")
    format("woff2");
}

mat-icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-height: 0;
}

:host(.ng-touched.ng-invalid) {
  .image-panel__dnd {
    border: 2px dashed
      var(--mat-form-field-error-text-color, var(--mat-sys-error));
  }

  .image-panel__drop-text {
    color: var(
      --mat-form-field-error-text-color,
      var(--mat-sys-error)
    ) !important;
  }

  button {
    color: var(
      --mat-form-field-error-text-color,
      var(--mat-sys-error)
    ) !important;
  }
}

.image-panel {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;

  &__dnd {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 12px;
    transition: background-color 0.2s ease;

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &--active {
      background-color: #e3f2fd;
      border-color: #2196f3;

      button:hover {
        background: none;
      }
    }

    button {
      font-size: 16px;
      display: flex;
      align-items: center;
      min-width: unset;
    }
  }

  &__drop-text {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      color: #666 !important;
    }
  }

  &__grid {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    margin-top: 5px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 8px;
    padding-right: 4px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
  }

  &__preview-wrapper {
    position: relative;
    width: 100%;
  }

  &__preview {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      padding: 4px;
      border: 1px solid black;
      background: white;
      box-sizing: border-box;
      border-radius: 2px;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.3);
    z-index: 1;
    cursor: pointer;
  }

  &__icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f44336;
    border-radius: 50%;
    pointer-events: auto;

    mat-icon {
      color: white;
      font-weight: 600;
      font-size: 20px;
      width: 20px;
      height: 20px;
      display: flex; // instead of block
      align-items: center;
      justify-content: center;
      line-height: 1;
      padding: 0;
    }
  }

  &__filename {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    padding: 0 5px;
    line-height: 1.2em;
    height: calc(1.2em * 2);
  }
}
