<div class="image-panel">
  <div
    class="image-panel__dnd"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    [class.image-panel__dnd--disabled]="disabled"
    [class.image-panel__dnd--active]="dragActive()"
  >
    <button
      mat-button
      type="button"
      (click)="fileInput.click()"
      [disabled]="disabled"
    >
      <mat-icon>upload</mat-icon>
      <span>Select images</span>
    </button>

    <div class="image-panel__drop-text">
      <span class="mat-mdc-button" style="padding: 0">or</span>
      <span class="mat-mdc-button">Drop it here!</span>
    </div>

    <input
      type="file"
      multiple
      accept="image/*"
      hidden
      #fileInput
      [disabled]="disabled"
      (change)="onFileInput($event)"
    />
  </div>

  @if (files().length > 0) {
  <div class="image-panel__grid">
    @for (item of files(); track item.url; let i = $index) {
    <div
      class="image-panel__item"
      [class.image-panel__item--disabled]="disabled"
      (mouseenter)="hoveredIndex = i"
      (mouseleave)="hoveredIndex = -1"
    >
      <div class="image-panel__preview-wrapper">
        <div class="image-panel__preview">
          <img [src]="item.url" alt="preview" />
        </div>

        @if (hoveredIndex === i && !disabled) {
        <div
          class="image-panel__overlay"
          [class.image-panel__overlay--disabled]="disabled"
          (click)="removeFile(i)"
        >
          <div class="image-panel__icon">
            <mat-icon>close</mat-icon>
          </div>
        </div>
        }
      </div>

      <div class="image-panel__filename">{{ item.file.name }}</div>
    </div>
    }
  </div>
  }
</div>
