@use "../../../mixins.scss";

.form-group.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: nowrap;
  width: 100%;
  @extend %text-standard;

  mat-form-field {
    flex: 1 1 50%;
    min-width: 0;
  }
}
