@use "../../../mixins.scss";

.query-container {
  flex: 0 1 400px;
  height: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.query {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%; // Add this line
  padding: 2px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.invalid {
    border-left: 4px solid #d32f2f;
    padding-left: 12px;
  }

  .error {
    position: absolute;
    bottom: 12px;
    left: 12px;
    transform: translateY(100%); // puts it visually just below the field
    color: #d32f2f;
    line-height: 1.2;
    @extend %text-bold;
  }
}

.full-width {
  width: 100%;
}
