/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$default-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

$compact-theme: mat.define-theme(
  (
    density: (
      scale: -4,
    ),
  )
);

/* Change style of slider */
.mat-primary.mdc-slider {
  height: 30px;
  margin: 0px;

  .mdc-slider__input {
    height: 30px;
  }
  .mdc-slider__thumb {
    height: 30px;
    width: 30px;
    left: -14px;

    .mat-ripple .mat-ripple-element {
      height: 30px !important;
      width: 30px !important;
      left: 0 !important;
      top: 0 !important;
    }
  }
}

:root {
  @include mat.all-component-themes($default-theme);
  @include mat.form-field-density($compact-theme);
  @include mat.slider-overrides(
    (
      active-track-height: 3px,
      inactive-track-height: 3px,
      handle-height: 10px,
      handle-width: 10px,
    )
  );
}
