<div class="score-container">
  @for (category of getCategories(); track category) {
    <div class="category">
      <h4>{{ titleCase(category) }}</h4>

      @for (metric of getMetrics(category); track metric) {
        <div class="metric-row">
          <div class="metric-label">{{ titleCase(metric) }}</div>

          @if (getMetricValue(category, metric) !== null) {
            <div class="bar-value-wrapper">
              <div class="bar-container">
                <div
                  class="bar-fill"
                  [style.width.%]="getMetricValue(category, metric)!"
                ></div>
              </div>
              <div class="value-label">
                {{ getMetricValue(category, metric)! | number: "1.0-0" }}%
              </div>
            </div>
          } @else {
            <div class="no-data">No data</div>
          }
        </div>
      }
    </div>
  }
</div>
